<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>196504032011-i048go2ctuuhnh0kk49igs308kji4ihe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.196504032011-i048go2ctuuhnh0kk49igs308kji4ihe</string>
	<key>API_KEY</key>
	<string>AIzaSyAQe1HU6kctJLDR5h25SGQd9wIjKinF11M</string>
	<key>GCM_SENDER_ID</key>
	<string>196504032011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.petmarketBoApp</string>
	<key>PROJECT_ID</key>
	<string>petmarket-bo-app</string>
	<key>STORAGE_BUCKET</key>
	<string>petmarket-bo-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:196504032011:ios:0192d6757796aa44f2080e</string>
</dict>
</plist>